*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

i{
  cursor: pointer;
}

body{
  font-family: sans-serif;
}

/**
*!Navbar
**/

.navbar{
  background-color: #001d3d;
  color: white;

  margin-bottom: 30px;
  padding: 25px 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar .logo{
  text-decoration: none;
  color: white;
}

.cart{
  background-color: white;
  border-radius: 4px;
  color: black;
  font-size: 30px;

  padding: 5px;
  position: relative;
}

.cart .cart-amount{
  font-size: 16px;
  background-color: red;
  color: white;

  position: absolute;
  top: -15px;
  right: -10px;
  padding: 3px;
  border-radius: 3px;
}

/**
*!Products
**/ 
.shop{
  display: grid;
  grid-template-columns: repeat(4,223px);
  gap: 30px;
  justify-content: center;
}

@media(max-width: 1000px){
  .shop{
  grid-template-columns: repeat(2,223px);
  }
}

@media(max-width: 500px){
  .shop{
  grid-template-columns: repeat(1,223px);
  }
}

.item{
  border: 2px solid #001d3d;
  border-radius: 4px;
}

.details{
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}

.price-quantity{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.buttons{
  display: flex;
  flex-direction: row; 
  gap: 8px;
  font-size: 16px;
}

.buttons .bi-dash-circle{
  color: red;
}

.buttons .bi-plus-circle{
  color: green;
}

/**
* ?Shopping Cart Page
**/

/**
* !Shopping Cart
**/
.shopping-cart{
  text-align: center;
  justify-content: space-between;
}

.shopping-cart .empty{
  font-size: 50px;
}

.shopping-cart .back-home{
  background-color: #001d3d;
  color: white;

  font-size: 20px;

  margin-top: 20px;
  padding: 10px;
  border-radius: 15px;

  cursor: pointer;
}

.bi-x-lg{
  color: red;
}

/**
* !Shopping Cart Items
**/
.shopping-cart{
  display: grid;
  grid-template-columns: repeat(1,320px);
  justify-content: center;
  gap: 15px;
}

.cart-item{
  display: flex;
  border: 2px solid #001d3d;
  border-radius: 5px;
}

.name-price-x{
  width: 195px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price{
  background-color: #001d3d;
  color: white;
  border-radius: 5px;
  padding: 5px;
}

/**
* !Label for shopping cart
**/

.text-center{
  text-align: center;
}

.text-center h1{
  margin-bottom: 20px;
  color: #001d3d;
}

.text-center button{
  margin-bottom: 30px;

  padding: 10px;
  border-radius: 15px;
  color: white;
  background-color: #001d3d;
  cursor: pointer;
}